/* Variables */

:root {
  --black-text: #000000;
  --main-text-color: #283136;
  --main-white: #FFFFFF;
  --button-color-red: #FB565A;
  --focus-red: #e74246;
  --dark-red: #D7373B;
  --button-color-green: #00CA74;
  --focus-green: #00BC6C;
  --button-color-yellow: #EFC849;
  --focus-yellow: #EAB534;
  --background-grey: #EEEEEE;
  --icon-background-color: #E1E1E1;
  --lighter-grey: #DFDFDF;
  --popup-field-color: #D7DCDE;
  --page-border-color: #DBDBDB;
  --light-grey: #D5D5D5;
  --full-line-color: #D7DCDF;
  --line-color-grey: #ABABAB;
  --text-color-grey: #666666;
  --filter-background-color: #4D4D4D;
  --text-color-dark-grey: #444444;
  --dark-grey: #231F20;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* Global */

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-white);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

sup { top: -0.3em; }

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* Button */

.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 15px 40px;
  color: var(--main-white);
  background-color: var(--button-color-red);
  border: none;
  border-radius: 3px;
  display: block;
  outline: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--focus-red);
}
.button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-wide {
  width: 100%;
}

/* Inner */

.inner {
  margin: 0 auto;
  padding: 0 20px 0;
  width: 1200px;
}

/* Header */

.main-header {
  margin: 0;
  padding: 49px 0 50px;
  background-color: var(--background-grey);
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
}

/* Main Navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  list-style: none;
}

.main-navigation-title {
  margin: 0;
  padding: 72px 0 58px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black-text);
  background-color: var(--background-grey);
  text-transform: none;
  text-align: center;
}


/* USER NAVIGATION */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 31px;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  list-style: none;
}

.site-navigation-item {
  display: block;
  margin-right: 44px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}
.site-navigation-item:nth-child(4n) {
  margin-right: 0;
}

.site-navigation-link {
  color: var(--black-text);
}
.site-navigation-link:hover {
  color: var(--button-color-red);
}
.site-navigation-link:focus {
  color: rgba(0, 0, 0, 0.3);
}

.cart {
  position: relative;
  display: block;
  margin-top: 7px;
  padding-left: 40px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: var(--black-text);
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 50%;
}
.cart:hover {
  color: var(--button-color-red);
}
.cart:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item .active-page {
  border-bottom: 2px solid var(--button-color-red);
  padding-bottom: 8px;
}
.active-page {
  pointer-events: none;
}

/* FEATURES */

.features {
  position: relative;
  margin-top: -50px;
  margin-bottom: 80px;
  padding: 0;
  background-color: var(--background-grey);
}

.features-list {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 431px;
  list-style: none;
}

.feature-item {
  min-height: 431px;
  padding-right: 619px;
  padding-top: 78px;
  padding-bottom: 80px;
}

.feature-item:nth-child(1) {
  background-image: url("../img/nerds-index-slide1.png");
  background-size: 760px 431px;
  background-position: right;
  background-repeat: no-repeat;
}
.feature-item:nth-child(2) {
  background-image: url("../img/nerds-index-slide2.png");
  background-size: 760px 431px;
  background-position: right;
  background-repeat: no-repeat;
}
.feature-item:nth-child(3) {
  background-image: url("../img/nerds-index-slide3.png");
  background-size: 760px 431px;
  background-position: right;
  background-repeat: no-repeat;
}

.feature-item-slogan {
  margin: 0 0 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black-text);
}

.feature-item-desc {
  margin: 0 0 38px;
}

.feature-item-img {
  position: absolute;
  width: 760px;
  height: 431px;
  bottom: 0;
  right: 0;
}

.learn-more-button {
  padding: 17px 54px 15px;
  width: 240px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-switches {
  position: absolute;
  bottom: 96px;
  left: 720px;
  display: flex;
  justify-content: space-between;
  width: 88px;
}

.slider-switch {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: none;
  background-color: var(--main-white);
  cursor: pointer;
}

.slider-switch .current {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 8px solid var(--main-white);
  background-color: #C1C1C1;
}

.slider-switch:hover .current {
  width: 8px;
  height: 8px;
  background-color: #C1C1C1;
  border-radius: 50%;
  border: 8px solid var(--main-white);
}


/* SERVICES */

.services {
 background-color: var(--main-white);
}

.services .inner {
  position: relative;
  margin-bottom :0;
  padding: 0 20px 80px;
  background-color: var(--main-white);
}

.services .inner::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 2px;
  background-color: var(--background-grey);
  background-repeat: no-repeat;
}


.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-card-img {
  display: block;
  margin-bottom: 25px;
  width: 300px;
  height: 146px;
}

.service-item {
  width: 300px;
  margin-right: 100px;
}

.service-item:nth-child(3n) {
  margin-right: 0;
}

.service-card-title {
  margin: 0 0 16px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-text);
}

.service-card-text {
  padding-right: 40px;
}

.button-red,
.button-green,
.button-yellow {
  margin-top: 32px;
  width: 160px;
}

.button-green {
  background-color: var(--button-color-green);
}
.button-green:hover,
.button-green:focus,
.button-green:active {
  background-color: var(--focus-green);
}

.button-yellow {
  background-color: var(--button-color-yellow);
}
.button-yellow:hover,
.button-yellow:focus,
.button-yellow:active {
  background-color: var(--focus-yellow);
}


/* STUDIO STATISTICS */

.studio-statistics {
  background-color: var(--main-white);
}

.studio-statistics .inner {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  padding-top: 39px;
  padding-bottom: 73px;
}

.studio-statistics .inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: var(--background-grey);
  background-repeat: no-repeat;
}

.about-studio {
  display: block;
  margin-right: 149px;
  padding-top: 34px;
}

.about-studio-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--black-text);
}

.about-studio-text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.about-studio-list-title {
  font-size: 16px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text);
}

.studio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.studio-list-item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 32px;
}
.studio-list-item:nth-child(3) {
  margin: 0;
}

.studio-list-item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: var(--button-color-red);
}

/* Statistics */

.statistics {
  display: block;
}

.statistics-main-logo {
  display: block;
  margin: 0;
  margin-bottom: 37px;
  width: 360px;
  height: 208px;
}

.percent-list-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 31px;
  padding: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text);
}

.percent-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 374px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.percent-item {
  padding: 0;
  width: 119px;
}

.percent-value {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--black-text);
}

.percent-description {
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}



/* PARTNERS */

.partners {
  background-color: var(--main-white);
}

.partners .inner {
  position: relative;
  margin-bottom: 80px;
  padding: 0 20px 0;
}

.partners .inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: var(--background-grey);
  background-repeat: no-repeat;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-bottom: 44px;
  list-style: none;
}

.partners-item {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  width: 270px;
  text-align: center;
}

.partner-logo {
  display: block;
  text-align: center;
  opacity: 0.2;
}

.partners-link {
  display: block;
  text-align: center;
}

.partners-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
  width: 2px;
  height: 52px;
  background-color: var(--background-grey);
}

.partners-item:nth-child(4n)::after {
  display: none;
}

.partner-logo:hover {
  opacity: 1;
} 
.partner-logo:active,
.partner-logo:focus {
  opacity: 0.1;
}


/* MAIN PAGE CATALOG */

.catalog-wrapper .inner {
  display: grid;
  grid-template-columns: 260px 760px;
  column-gap: 140px;
  margin-top: 55px;
  margin-bottom: 60px;
  background-color: var(--main-white);
}

.sorting  {
  border: 2px solid blue;
}

.catalog-sorting {
  padding: 0;
  margin:0;
}
.main-header-logo:active,
.main-header-logo:focus {
  opacity: 0.4;
}


/* FILTERS */

.fieldset-form legend {
  margin-bottom: 48px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.radio-button-filter legend,
.checkbox-filter legend {
  margin-bottom: 14px;
}

.filter {
  padding: 0;
  margin:0;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* Range */

.range-filter {
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  border: none;
}

.range {
  position: relative;
  height: 41px;
  margin-bottom: 14px;
  padding: 39px 22px 39px 33px;
  background-color: var(--background-grey);
  border-radius: 3px;
}

.range .range-button {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: var(--line-color-grey);
  border: 8px solid var(--main-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  box-sizing: content-box;
}

.range .range-button-min {
  left: 18px;
}
.range .range-button-max {
  left: 160px;
}

.range .range-progress {
  height: 2px;
  background-color: var(--full-line-color);
}
.range .range-progress-bar {
  width: 70%;
  height: 2px;
  background-color: var(--button-color-green);
}

.range-cost {
  display: flex;
  justify-content: space-between;
}
.range-field {
margin: 0;
}

.range-field-label {
  line-height: 22px;
  text-transform: uppercase;
}

.range-field-input {
  width: 80px;
  margin-left: 11px;
  padding: 8px 5px;
  text-align: center;
  background-color: var(--background-grey);
  border: 2px solid var(--background-grey);
  border-radius: 3px;
}

/* Filter */

.radio-button-filter {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  border: none;
}

.filter-radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.filter-radio {
  position: relative;
  margin-bottom: 15px;
  padding-left: 36px;
}

.radio-button-input + .radio-button-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.radio-button-input:checked + .radio-button-label::before {
  background-image: url("../img/icons/radio-on.svg");
}

.checkbox-filter {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-checkbox-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 20px;
}

.filter-checkbox {
  position: relative;
  margin-bottom: 15px;
  padding-left: 36px;
}

.checkbox-input + .checkbox-label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-input:checked + .checkbox-label::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.radio-button-input + .radio-button-label::before,
.checkbox-input + .checkbox-label::before {
  opacity: 0.4;
}

.radio-button-input:hover + .radio-button-label::before,
.checkbox-input:hover + .checkbox-label::before {
  opacity: 1;
}

.radio-button-input:checked:hover + .radio-button-label,
.checkbox-input:checked:hover + .checkbox-label::before {
  opacity: 1;
}

.radio-button-input:checked:focus + .radio-button-label::before,
.checkbox-input:checked:focus + .checkbox-label::before {
  opacity: 1;
}
.radio-button-input:disabled + .radio-button-label::before,
.checkbox-input:disabled + .checkbox-label::before {
  opacity: 0.3;
}
.radio-button-input:disabled + .radio-button-label,
.checkbox-input:disabled + .checkbox-label {
  opacity: 0.3;
}
.radio-button-input:checked:disabled + .radio-button-label::before,
.checkbox-input:checked:disabled + .checkbox-label::before {
  opacity: 0.3;
}
.radio-button-input:checked:disabled + .radio-button-label,
.checkbox-input:checked:disabled + .checkbox-label {
  opacity: 0.3;
}


/* Filter Button */

.filter-button {
  margin-top: 48px;
  padding-right: 89px;
  padding-left: 88px;
  width: 260px;
  color: var(--black-text);
  background-color: var(--background-grey);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--black-text);
  background-color: var(--lighter-grey);
}
.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--light-grey);
}


/* Sorting */

.sorting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 48px;
  width: 759px;
  background-color: var(--main-white);
}

.sorting-list-title {
  margin: 0;
  padding: 0;
  padding-right: 266px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.sorting-item {
  display: block;
  margin: 0;
  margin-right: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--black-text);
}

.sorting-item:nth-child(3n) {
  margin-right: 47px;
}

.sorting-item:nth-last-child(2) {
  margin-right: 18px;
}

.sorting-item:last-child {
  margin-right: 0;
}

.button-up,
.button-down {
  display: block;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}

.sorting-list a {
  color: rgba(0, 0, 0, 0.3);
}
.sorting-list a:hover,
.sorting-list a:focus {
  color: rgba(0, 0, 0, 0.6)
}
.sorting-list a:active {
  color: var(--black-text);
}

.button-down {
  border-top: 11px solid rgba(166, 166, 166, 0.2);
}
.button-up {
	border-bottom: 11px solid rgba(166, 166, 166, 0.2);
}
.button-down:hover {
  border-top: 11px solid rgba(0, 0, 0, 0.6);
}
.button-up:hover {
  border-bottom: 11px solid rgba(0, 0, 0, 0.6);
}
.button-down:focus{
  border-top: 11px solid var(--black-text);
}
.button-up:focus {
  border-bottom: 11px solid var(--black-text);
}


/* Catalog */

.catalog {
  background-color: var(--main-white);
}

.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--black-text);
}

.catalog-item {
  margin-bottom: 30px;
  width: 360px;
  height: 620px;
  background-color: var(--main-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.catalog-item:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.catalog-card {
  position: relative;
  padding-top: 40px;
}

.catalog-card-content {
  position: absolute;
  width: 360px;
  height: 231px;
  top: 389px;
  left: 0;
  text-align: center;
  background-color: var(--background-grey);
}

.catalog-card-title {
  margin-top: 26px;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.catalog-card-desc {
  margin-bottom: 32px;
  padding-left: 52px;
  padding-right: 53px;
  line-height: 18px;
  text-transform: none;
  text-align: center;
  color: var(--text-color-grey)
}

.catalog-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background-image: url("../img/icons/browser.svg");
  background-color: var(--main-white);
  opacity: 0.12;
  cursor: pointer;
}

.catalog-card .catalog-card-content {
  display: none;
  position: absolute;
  top: 388px;
}

.catalog-card:hover::before,
.catalog-card:focus::before {
  opacity: 1;
}

.catalog-card:hover {
  background-color: var(--background-grey);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.catalog-card:hover .catalog-card-content {
  display: block;
  cursor: pointer;
}

.catalog-card-title a {
  color: var(--black-text);
}
.catalog-card-title a:hover,
.catalog-card-title a:active {
  color: var(--button-color-red);
}
.catalog-card-title a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.price-button {
  padding: 17px 72px 15px;
  width: 200px;
  margin: 0 auto;
}


/* Pagination */

.pagination {
  margin-top: 55px;
}

.pagination-list {
  display: flex;
  align-items: flex-start;
  list-style: none;
  margin-top: 55px;
  padding: 0;
}

.pagination-item {
  display: block;
  margin-right: 11px;
}

.pagination-link {
  padding: 17px 20px 15px 20px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  border: 3px solid var(--background-grey);
  border-radius: 3px;
  color: var(--black-text);
  background-color: var(--background-grey);
}

.pagination-link:hover {
  border: 3px solid var(--lighter-grey);
  background: var(--lighter-grey);
}
.pagination-link:focus,
.pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-link-active,
.pagination-link-active:hover,
.pagination-link-active:active,
.pagination-link-active:focus {
  padding: 17px 20px 15px 20px;
  background-color: var(--main-white);
  color: var(--black-text);
  border: 3px solid var(--page-border-color);
  border-radius: 3px;
  pointer-events: none;
}


/* CONTACTS */

.contacts {
  position: relative;
  margin: 0;
  margin-bottom: 68px;
  padding: 54px 0 54px;
  width: auto;
  height: 416px;
  background-color: var(--background-grey);
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
}

.contact-info {
  position: relative;
  z-index: 1;
  width: 319px;
  padding: 49px 39px 47px 50px;
  background-color: var(--main-white);
}

.contact-info-title {
  margin: 0;
  margin-bottom: 23px;
  font-style: normal;
  font-size: 18px;  
  line-height: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text)
}

.contact-info address {
  margin-bottom: 24px;
  line-height: 18px;
  font-style: normal;
  color: var(--text-color-grey);
}

.contact-tel {
  margin-bottom: 37px;
  line-height: 18px;
  font-style: normal;
}
.tel {
  color: var(--text-color-grey);
}

.contact-info-button {
  width: 219px;
  padding: 16px 44px;
}

.map-marker-img {
  position: absolute;
  top: 86px;
  right: 387px;
  width: 231px;
  height: 190px;
}


/* MAIN FOOTER */

.main-footer {
  background-color: var(--main-white);
}

.main-footer .inner {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 68px;
  padding: 0;
}

/* Socials */

.social {
  margin: 0;
  margin-right: 139px;
  padding-left: 20px;
}

.social-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin-right: 9px;
}

.social-link {
  display: block;
  position: relative;
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--icon-background-color);
  color: var(--main-white);
}

.social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
}

.social-link-vk::before {
  width: 26px;
  height: 15px;
  background-image: url("../img/icons/vk-icon.svg");
}
.social-link-fb::before {
  width: 12px;
  height: 22px;
  background-image: url("../img/icons/fb-icon.svg");
}
.social-link-insta::before {
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/insta-icon.svg");
}

.social-link:hover,
.social-link:focus {
  background-color: var(--button-color-red);
}
.social-link:active {
  width: 81px;
  background-color: var(--dark-red);
  color: rgba(255, 255, 255, 0.3);
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}
.social-link:active::before {
  opacity: 0.3;
}

.footer-slogan-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black-text);
}

.footer-slogan-text {
  margin: 0;
  line-height: 22px;
  color: var(--text-color-dark-grey);
}


/* FEEDBACK FORM*/

.modal-feedback {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 180px;
  left: 240px;
  width: 960px;
  height: 590px;
  padding: 63px 99px 84px 100px;
  color: var(--basic-black);
  background-color: var(--main-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.feedback-form {
  margin: 0;
  padding: 0;
}

.feedback-form-title {
  margin-top: 0;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  font-style: normal;
  color: var(--black-text);
}

.feedback-form-fields {
  display: flex;
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0;
}

.feedback-form-fields .field {
  width: 360px;
  margin-right: 40px;
}
.feedback-form-fields .field:nth-child(2n) {
  margin-right: 0px;
}

.field {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.field-label {
  margin-bottom: 9px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black-text);
}

.field-input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 14px;
  line-height: 18px;
  color: var(--text-color-dark-grey);
  background-color: var(--main-white);
  border: 2px solid var(--popup-field-color);
  border-radius: 3px;
  opacity: 0.5;
}

textarea.field-input {
  display: block;
  width: 100%;
  height: 118px;
  padding: 16px 14px;
}
/*Доделать hover*/
.field-input:hover {
  opacity: 1;
}

.field-input:focus {
  color: var(--text-color-dark-grey);
  background: var(--main-white);
  border: 2px solid var(--black-text);
  border-radius: 3px;
}

.feedback-button {
  margin-top: 47px;
  padding: 17px 83px 15px;
  width: 259px;
}

.close-button {
  display: block;
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background: var(--main-white);
  background-image: url("../img/icons/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}