/* Variables */

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/

:root {
  --black-text: #000000;
  --text-color-section: #283136;
  --text-color-dark-grey: #444444;
  --text-color-grey: #666666;
  --filter-text-color: #283136;
  --background-color: #FFFFFF;
  --icon-background-color: #E1E1E1;
  --filter-background-color: #4D4D4D;
  --background-grey: #EEEEEE;
  --button-color-red: #FB565A;
  --button-color-green: #00CA74;
  --button-color-yellow: #EFC849;
  --popup-field-color: #D7DCDE;
  --page-border-color: #DBDBDB;
  --carts-border-color: #F2F2F2;
  --cart-color: #A6A6A6;
  --sorting-color: #231F20;
  --ellipse-color: #C1C1C1;
  --line-color-grey: #ABABAB;
  --line-color-green: #00CA74;
  --full-line-color: #D7DCDF;
  --focus-red: #e74246;
  --dark-red: #D7373B;
  --focus-green: #00BC6C;
  --focus-yellow: #EAB534;
  --lighter-grey: #DFDFDF;
  --light-grey: #D5D5D5;
  --dark: #231F20;
}


/* Global */

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black-text);
  background-color: var(--background-color);
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.inner {
  width: 1440px;
  margin: 0 auto;
}
/* Цвет на всю ширину */
.main-navigation {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: var(--black-text);
  background-color: var(--background-grey);
  list-style: none;
}

.main-navigation h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black-text);
  text-transform: none;
  text-align: center;
}

/* User navigation */

.site-navigation a,
.cart a {
  color: var(--black-text);
}

.site-navigation a:hover,
.cart a:hover {
  color: var(--button-color-red);
}

.site-navigation a:focus,
.cart a:focus {
  color: var(--cart-color);
}

.site-navigation,
.cart {
list-style: none;
}


/* Features */

.features {
  background-color: var(--background-grey);
}

.features-list {
  list-style: none;
}

.features h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black-text);
  text-align: left;
  padding: 0;
  margin: 0 0 27px;
  }

.features p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--filter-text-color);
  margin: 0 0 38px;
}


/* Services */

.services-list {
  list-style: none;
  color: var(--background-color);
  background-color: var(--background-color);
}

.service-item {
  text-align: left;
}
.service-item p {
  width: 275px;
  margin-bottom: 33px;
}

.service-item h3 {
  color: var(--black-text);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 19px 0 0;
}

.service-text {
  color: var(--text-color-section)
}

.service-item a {
  display: block;
  width: 160px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--background-color);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 0;
}

.red {
  background-color: var(--button-color-red);
  width: 160px;
}
.red:hover {
  background-color: var(--focus-red);
  border-radius: 3px;
}
.red:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.3);
}

.green {
  background-color: var(--button-color-green);
  width: 160px;
}
.green:hover {
  background-color: var(--focus-green);
  border-radius: 3px;
}
.green:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.3);
}

.yellow {
  background-color: var(--button-color-yellow);
  width: 160px;
}
.yellow:hover {
  background-color: var(--focus-yellow);
  border-radius: 3px;
}
.yellow:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.3);
}


/* Studio statistics */

.studio-statistics {
  color: var(--background-color);
  background-color: var(--background-color);
}

.about-studio h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--black-text);
}

.about-studio p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-section);
}

.studio-statistics h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color-section);
}

.studio-list {
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-section);
}

.percent-list {
  list-style: none;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--black-text);
}

.percent-list p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-color-section);
}


/* Partners */
/* Задать прозрачность логотипам */
.partners-item {
  list-style: none;
  color: var(--black-text);
  background-color: rgba(255, 255, 255, 0.2); 
}

.partners-item a:hover {
  color: var(--black-text);
  background-color: rgb(255, 255, 255);
} 

.partners-item a:active {
  color: var(--black-text);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Contacts */

.contact-info {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  align-items: center;
  color: var(--text-color-grey);
  background-color: var(--background-color);
}

.contact-info h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text)
}

.contact-info address {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-grey);
}

.tel {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-grey);
}

.feedback-link {
  display: block;
  width: 219px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--background-color);
  background-color: var(--button-color-red);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 0;
}

.feedback-link:hover {
  background-color: var(--focus-red);
}
.feedback-link:active {
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.3);
}


/* Feedback form*/

.feedback {
  width: 960px;
  height: 590px;
  left: 419px;
  top: 1691px;
  color: var(--basic-black);
  background-color: var(--background-color);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.feedback h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  font-style: normal;
  color: var(--black-text);
}

.feedback-item label {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--black-text);
}

.feedback-item input {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-color-dark-grey);
  background-color: var(--background-color);
  border: 2px solid var(--popup-field-color);
  box-sizing: border-box;
  border-radius: 3px;
  mix-blend-mode: normal;
  width: 360px;
  height: 50px;
}

.feedback-item textarea {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-color-dark-grey);
  background-color: var(--background-color);
  border: 2px solid var(--popup-field-color);
  box-sizing: border-box;
  border-radius: 3px;
  mix-blend-mode: normal;
  width: 760px;
  height: 118px;
}

.feedback-item input:focus {
  color: var(--text-color-dark-grey);
  background: var(--background-color);
  border: 2px solid var(--black-text);
  box-sizing: border-box;
  border-radius: 3px;
}

.feedback-item textarea:focus {
  color: var(--text-color-dark-grey);
  background: var(--background-color);
  border: 2px solid var(--black-text);
  box-sizing: border-box;
  border-radius: 3px;
}
/* Пока не удалось невалидное значение сделать, займусь позже */
input:invalid:not(:placeholder-shown) {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  background: var(--background-color);
  border: 2px solid var(--focus-red);
  box-sizing: border-box;
  border-radius: 3px;
}

.send-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 16px 0;
  width: 259px;
  color: var(--background-color);
  background-color: var(--button-color-red);
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}
.send-button:hover,
.send-button:focus {
  background-color: var(--focus-red);
  border-radius: 3px;
  outline: none;
}
.send-button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}
.send-button {
  cursor: pointer;
}

.close-button {
  background: rgba(251, 86, 90, 0.3);
}


/* Main footer */

.main-footer {
  color: var(--background-color);
  background-color: var(--background-color);
}


/* Socials */

.social-button {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: var(--background-color);
  background-color: var(--icon-background-color);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--button-color-red);
}
/* svg еще вставлять не научились, пока прописала стили из Фигмы */
.social-button:active {
  width: 81px;
  background-color: var(--dark-red);
  color: rgba(255, 255, 255, 0.3);
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.friends h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black-text);
}

.friends p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--text-color-dark-grey);
}


/* Button */

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 16px 0;
  width: 240px;
  color: var(--background-color);
  background-color: var(--button-color-red);
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: var(--focus-red);
  outline: none;
  border-radius: 3px;
}

.button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button:hover,
.button:focus,
.button:active {
  cursor: pointer;
}


/* Main page Catalog */

.main-header-logo {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: var(--black-text);
}

.main-header-logo a:hover,
.main-header-logo a:focus {
  opacity: 1;
}
/* Задать прозрачность при нажатии */
.main-header-logo a:active {
  opacity: 0.3;
}

/* Filters */

.filter legend {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  color: var(--black-text);
}

.filter label {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: var(--filter-text-color);
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--filter-text-color);
}

.filter-input-checkbox:disabled + label {
  color: var(--filter-text-color);
  opacity: 0.3;
}

.filter-input-radio:hover + label,
.filter-input-radio:focus + label {
  color: var(--filter-text-color);
}

.filter-input-radio:disabled + label {
  color: var(--filter-text-color);
  opacity: 0.3;
}

.filter-button {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 16px 0;
  width: 260px;
  color: var(--black-text);
  background-color: var(--background-grey);
  vertical-align: middle;
  border: none;
  border-radius: 3px;
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--lighter-grey);
  border-radius: 3px;
  outline: none;
}
.filter-button:active {
  background-color: var(--light-grey);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}
.filter-button {
  cursor: pointer;
}


/* Sorting */

.sorting {
  color: var(--background-color);
  background-color: var(--background-color);
}

.sorting h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
  color: var(--black-text);
  background-color: var(--background-color);
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  text-transform: uppercase;
}
 
.sorting-list a {
  color: rgba(0, 0, 0, 0.3)
}

.sorting-list a:hover {
  color: rgba(0, 0, 0, 0.6)
}

.sorting-list a:focus,
.sorting-list a:active {
  color: rgb(0, 0, 0);
}
/* Пока такие треугольники получились */
.sorting-button-down a {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0;
  border-color: rgba(166, 166, 166, 0.2) transparent transparent;
}

.sorting-button-up a {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent rgba(166, 166, 166, 0.2);
}

.sorting-button-down a:hover{
  border-color: var(--cart-color) transparent transparent;
}
.sorting-button-up a:hover {
  border-color: transparent transparent var(--cart-color);
}

.sorting-button-down a:focus{
  border-color: var(--dark) transparent transparent;
}
.sorting-button-up a:focus {
  border-color: transparent transparent var(--dark);
}


/* Catalog */

.site-navigation .active {
  border-bottom: 2px solid var(--button-color-red);
  padding-bottom: 8px;
}

.catalog-list {
  list-style: none;
  color: var(--black-text);
  background-color: var(--background-color);
}

.catalog-item {
  width: 360px;
  background-color: var(--carts-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
}
/* Нужно чтобы при наведении браузер стал темным */
.catalog-item:hover {
  background-color: var(--background-color);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
  cursor: pointer;
}

.browser {
  width: 360px;
  height: 40px;
  color: rgba(77, 77, 77, 0.12)
}

.browser:hover {
  background-color: var(--filter-background-color);
  border-radius: 3px;
  cursor: pointer;
}

.catalog-slider {
  width: 360px;
  height: 231px;
  left: 540px;
  top: 877px;
  text-align: center;
}

.catalog-slider h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.catalog-slider p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  color: var(--text-color-grey)
}

.catalog-slider h3 a {
  color: var(--black-text);
}
.catalog-slider h3 a:hover,
.catalog-slider h3 a:active {
  color: var(--button-color-red);
}
.catalog-slider h3 a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.price {
  width: 200px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--background-color);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 13px 61px;
  border-radius: 3px;
  background-color: var(--button-color-red); 
}

.price a {
  color: var(--background-color);
  background-color: var(--button-color-red); 
}
.price:hover {
  color: var(--background-color);
  background-color: var(--focus-red); 
}
.price:focus {
  color: var(--background-color);
  background-color: var(--dark-red); 
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}


/* Pagination */

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--black-text);
  background-color: var(--background-grey);
  border: 3px var(--page-border-color);
  box-sizing: border-box;
  border-radius: 3px;
}

.pagination-item a:hover {
  background: var(--lighter-grey);
  border-radius: 3px;
}
.pagination-item a:focus {
  mix-blend-mode: normal;
  color: rgba(0, 0, 0, 0.3);
}
.pagination-item a:active {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--page-border-color);
  box-sizing: border-box;
  border-radius: 3px;
}
/* Добавить стиль ссылки на текущую страницу */
