/* Variables */

/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}*/

:root {
  --black-text: #000000;
  --main-text-color: #283136;
  --main-white: #FFFFFF;
  --button-color-red: #FB565A;
  --focus-red: #e74246;
  --dark-red: #D7373B;
  --button-color-green: #00CA74;
  --focus-green: #00BC6C;
  --button-color-yellow: #EFC849;
  --focus-yellow: #EAB534;
  --background-grey: #EEEEEE;
  --icon-background-color: #E1E1E1;
  --lighter-grey: #DFDFDF;
  --popup-field-color: #D7DCDE;
  --page-border-color: #DBDBDB;
  --light-grey: #D5D5D5;
  --full-line-color: #D7DCDF;
  --line-color-grey: #ABABAB;
  --text-color-grey: #666666;
  --filter-background-color: #4D4D4D;
  --text-color-dark-grey: #444444;
  --dark-grey: #231F20;
}


/* Global */

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-white);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Button */

.button {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 15px 0;
  min-width: 240px;
  color: var(--main-white);
  background-color: var(--button-color-red);
  border: none;
  border-radius: 3px;
  display: block;
  outline: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--focus-red);
}
.button:active {
  background-color: var(--dark-red);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.button-wide {
  width: 100%;
}

/* Header */

.main-header {
  margin: 0;
  padding: 50px 0 0;
  background-color: var(--background-grey);
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
}

/* Inner */

.inner {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
  min-height: 100px;
}

/* Main Navigation */

.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 30px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: var(--black-text);
  list-style: none;
}

.main-navigation-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black-text);
  text-transform: none;
  text-align: center;
}

.cart {
  display: flex;
  min-width: 75px;
  padding-left: 25px; /*для иконки*/
}


/* USER NAVIGATION */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 440px;
  min-height: 31px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-navigation-link {
  display: block;
  padding: 7px 0 7px;
  color: var(--black-text);
}
.site-navigation-link:hover {
  color: var(--button-color-red);
}
.site-navigation-link:focus {
  color: rgba(0, 0, 0, 0.3);
}


/* FEATURES */

.features {
  background-color: var(--background-grey);
}

.features-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  padding: 42px 0 80px;
}

.feature-item-slogan {
  margin: 0 0 27px;
  padding: 0;
  max-width: 600px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--black-text);
}

.feature-item-desc {
  max-width: 400px;
  margin: 0 0 38px;
}
/* Добавить кнопки переключения слайдеров*/


/* Services */

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 60px;
  padding-left: 0;
  list-style: none;
  border-bottom: 2px solid var(--background-grey);
}
.service-card {
  width: 300px;
}

.service-card-title {
  padding: 0;
  margin: 19px 0 0;
  width: 260px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-text);
}

.service-text {
  width: 260px;
  margin-bottom: 32px;
  display: block;
}

/* Задать ширину кнопки 160px, если указано min-width:240px */
.service-card-button-red {
  width: 160px;
}

.service-card-button-green {
  background-color: var(--button-color-green);
  width: 160px;
}
.service-card-button-green:hover,
.service-card-button-green:focus,
.service-card-button-green:active {
  background-color: var(--focus-green);
}

.service-card-button-yellow {
  background-color: var(--button-color-yellow);
  width: 160px;
}
.service-card-button-yellow:hover,
.service-card-button-yellow:focus,
.service-card-button-yellow:active {
  background-color: var(--focus-yellow);
}


/* Studio statistics */

.studio-stat-inner {
  display: flex;
  justify-content: space-between;
  padding: 39px 0 73px;
  border-bottom: 2px solid var(--background-grey);/*border не засчитает паддинги*/
}

.about-studio {
  display: block;
  width: 650px;
}
.about-studio-title {
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--black-text);
}

.about-studio-list-title {
  margin-top: 40px;
  margin-bottom: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text);
}

.studio-list {
  margin: 0;
  padding: 0 0 0 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.studio-list-item {
  margin-bottom: 24px;
}

/* Statistics */

.statistics {
  width: 374px;
}

.statistics-main-logo {
  width: 360px;
  height: 208px;
}

.percent-list-title {
  margin-top: 37px;
  margin-bottom: 31px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text);
}

.percent-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ДОДЕЛАТЬ */

.percent-value {
  display: flex;
  flex-direction:;
  align-items: ;
  justify-content: ;
  margin: 0;
  padding: 0;
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  color: var(--black-text);
}



.percent-description {
  display: flex;
  justify-content: ;
  flex-direction:;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Partners */

.partners {
  padding: 46px 0 44px;
  border-bottom: 2px solid var(--background-grey);
}
.partners-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partners-item {
  opacity: 0.2;
}
.partners-item:hover {
  opacity: 1.0;
} 
.partners-item:active,
.partners-item:focus {
  opacity: 0.1;
}


/* MAIN PAGE CATALOG */

.main-header-logo:active,
.main-header-logo:focus {
  opacity: 0.4;
}


/* FILTERS */

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Range */

/* Добавить кружки */

.range {
  width: 260px;
  padding: 39px 22px 33px 33px ;
  text-align: center;
  background-color: var(--background-grey);
  border: 2px solid var(--background-grey);
  border-radius: 3px;
}

.range-button {
  width: 20px; 
  height: 20px;
  background-color: var(--main-white);
  border-color: var(--main-white);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
}

.range-progress {
  background-color: var(--full-line-color);
  width: 205px;
  height: 2px;
}
.range-progress-bar {
  background-color: var(--button-color-green);
  width: 138px;
  height: 2px;
}

.range-field-label {
  line-height: 22px;
  text-transform: uppercase;
}

.range-field-input {
  width: 80px;
  padding: 8px 5px;
  text-align: center;
  background-color: var(--background-grey);
  border: 2px solid var(--background-grey);
  border-radius: 3px;
}

/* Filter */

.radio-button-input,
.checkbox-input {
  opacity: 0.4;
}
.radio-button-input:disabled + label,
.checkbox-input:disabled + label {
  opacity: 0.3;
}
.radio-button-input:hover,
.checkbox-input:hover,
.radio-button-input:focus,
.checkbox-input:focus {
  color: var(--filter-background-color);
  opacity: 1.0;
}

/* Filter Button */

.filter-button {
  width: 260px;
  color: var(--black-text);
  background-color: var(--background-grey);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--black-text);
  background-color: var(--lighter-grey);
}
.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: var(--light-grey);
}


/* Sorting */

.sorting {
  background-color: var(--main-white);
}

.sorting h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black-text);
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
  font-size: 14px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--black-text);
  background-color: var(--main-white);
}
 
.sorting-list a {
  color: rgba(0, 0, 0, 0.3)
}
.sorting-list a:hover {
  color: rgba(0, 0, 0, 0.6)
}
.sorting-list a:focus,
.sorting-list a:active {
  color: rgb(0, 0, 0);
}

.button-up,
.button-down {
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}

.button-down {
  border-top: 11px solid rgba(166, 166, 166, 0.2);
}
.button-up {
	border-bottom: 11px solid rgba(166, 166, 166, 0.2);
}

.button-down:hover {
  border-top: 11px solid rgba(0, 0, 0, 0.6);
}
.button-up:hover {
  border-bottom: 11px solid rgba(0, 0, 0, 0.6);
}

.button-down:focus{
  border-top: 11px solid;
}
.button-up:focus {
  border-bottom: 11px solid;
}


/* Catalog */

.site-navigation .active-page {
  border-bottom: 2px solid var(--button-color-red);
  padding-bottom: 8px;
}

.catalog-list {
  list-style: none;
  color: var(--black-text);
  background-color: var(--main-white);
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 360px;
  background-color: var(--background-grey);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.catalog-item:hover {
  background-color: var(--main-white);
  box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
  border-radius: 5px;
}

.catalog-card-nav {
  width: 360px;
  height: 40px;
  color: rgba(77, 77, 77, 0.12)
}

.catalog-card-nav:hover {
  background-color: var(--filter-background-color);
  border-radius: 3px 3px 0px 0px;
}

.catalog-card-content {
  width: 360px;
  height: 231px;
  left: 540px;
  top: 877px;
}

.catalog-card-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.catalog-card-desc {
  line-height: 18px;
  text-transform: none;
  text-align: center;
  color: var(--text-color-grey)
}

.catalog-card-title a {
  color: var(--black-text);
}
.catalog-card-title a:hover,
.catalog-card-title a:active {
  color: var(--button-color-red);
}
.catalog-card-title a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.price-button {
  width: 200px;
  margin: 0 auto;
}


/* Pagination */

.pagination-list {
  list-style: none;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  margin: 55px 11px;
}

.pagination-item a {
  display: inline-block;
  background-color: var(--background-grey);
  color: var(--black-text);
  border: 3px solid var(--background-grey);
  padding: 17px 20px;
}
.pagination-item a:hover {
  background: var(--lighter-grey);
  border: 3px solid var(--lighter-grey);
}
.pagination-item a:focus,
.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-active a,
.pagination-active a:hover,
.pagination-active a:active,
.pagination-active a:focus {
  display: inline-block;
  background: rgba(0, 0, 0, 0.0001);
  color: var(--black-text);
  border: 3px solid var(--page-border-color);
  padding: 17px 20px;
}


/* Contacts */

.contact-info {
  line-height: 18px;
  font-style: normal;
  align-items: center;
  color: var(--text-color-grey);
  background-color: var(--main-white);
}

.contact-info h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-text)
}

.contact-info address {
  line-height: 18px;
  font-style: normal;
  color: var(--text-color-grey);
}

.tel {
  line-height: 18px;
  font-style: normal;
  color: var(--text-color-grey);
}

.contact-info-button {
  width: 219px;
}


/* Feedback form*/

.feedback {
  width: 960px;
  height: 590px;
  padding: 65px 100px;
  color: var(--basic-black);
  background-color: var(--main-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.feedback h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  font-style: normal;
  color: var(--black-text);
}

.field-label {
  line-height: 18px;
  font-weight: 700;
  color: var(--black-text);
}

.field-input {
  width: 360px;
  height: 50px;
  padding: 0 14px;
  line-height: 18px;
  color: var(--text-color-dark-grey);
  background-color: var(--main-white);
  border: 2px solid var(--popup-field-color);
  border-radius: 3px;
}

textarea.field-input {
  width: 760px;
  height: 118px;
  padding: 16px 14px;
}

.field-input:focus {
  color: var(--text-color-dark-grey);
  background: var(--main-white);
  border: 2px solid var(--black-text);
  border-radius: 3px;
}

.feedback-button {
  width: 259px;
}

/* Добавить кнопку закрытия */

/* Main footer */

.main-footer-inner {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  padding: 68px 0;
  background-color: var(--main-white);
}

/* Socials */

.social-list {
  display: block;
  padding: 0;
  margin: 0 140px 0 0;
  list-style: none;
}

.social-item {
  align-items: center;
}

.social-link {
  background-color: var(--icon-background-color);
  color: var(--main-white);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--button-color-red);
}

/* svg еще вставлять не научились, пока прописала стили из Фигмы */
.social-button:active {
  width: 81px;
  background-color: var(--dark-red);
  color: rgba(255, 255, 255, 0.3);
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.main-footer-slog {
  padding: 0 0 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--black-text);
}

.main-footer-discount {
  line-height: 22px;
  color: var(--text-color-dark-grey);
}